* {
    padding: 0;
    margin: 0;
}
body, html {
    height: 100%;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feedback-container {
    max-width: 500px;
    padding: 20px;
    backdrop-filter: blur(30px);
    background:transparent;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

}
.feedback-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.feedback-container input, .feedback-container textarea {
    width: 100%;
    padding: 10px;
    margin: 10px -10px;
    backdrop-filter: blur(100px);
    background:transparent;
    border: 2px solid #686868;
    border-radius: 5px;
}
.feedback-container button {
    width: 100%;
    padding: 10px;
    background: orange;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.feedback-container button:hover {
    background: darkorange;
}
