body {
    font-family: Arial, sans-serif;
    background: url('chicken-pizza-with-bell-peppers-tomato-cheese-round-wooden-board.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background: transparent;
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 325px;
    width: 300px;
    text-align: center;

}
.login-container h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.login-container input {
    width: 90%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-container button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #ffa600;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #b37400;
}
